body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar {
    background-color: #000000;
    width: 350px;
    border-radius: 1rem; /*16px = 1rem*/

}

.main_content {
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    margin: 0 1rem;
    padding: 0 1.5rem 0 1.5rem;
}

.music_player {
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 80px;
}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}
.nav a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    margin: 1rem 1rem;

}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
}
.nav-option:hover{
    line-height: 2.5rem;
    opacity: 1;
}
.nav-option i{
    font-size: 1.25rem;
}
.side-section{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.75rem 0.5rem;
    text-overflow: auto;
}
.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.option a{
    text-decoration: none;
    font-size: 1.25rem;
    color: #fff;
}
.option .icon{
    margin-left: 2rem;
    font-size: 1.25rem;
}
.box{
    text-overflow: auto;
}
.box1{
    background-color: #232323;
    border-radius: .7rem;
    margin: 0.5rem 0 0.5rem 0;
    padding: 1rem 1.25rem;
}
.box2{
    background-color: #232323;
    border-radius: .7rem;
    margin: 1rem 0 0.5rem 0;
    padding: 1rem 1.25rem;
}
.p1{
    font-size: 1rem;
    font-weight: 700;
}
.p2{
    font-size: 0.75rem;
    opacity: 0.9;
    font-weight: 600;
}
button{
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.4rem 1rem;
    font-weight: 700;
    font-size: .9rem;
    margin: 0.3rem 0 0.3rem 0;
}
button:hover{
font-size: 1rem;
}
.sticky-nav{
    position: sticky;
    display: flex;
    top:0;
    background-color: #121212;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
}
.icons{
    padding: .25rem .25rem;
    margin-left: 1rem;
}
.icons img{
    border-radius: 50%;
    background-color: #000000;
    padding: 0.25rem;
}

.badges{
    display: flex;
    align-items: center;
    justify-content: center;
}
.badges button, .badges i{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}
@media (max-width:1000px){
    .hide{
        display: none;
    }
    .sidebar{
        width: 300px;
    }
}

.stickyside{
    width: 21rem;
    height: 16rem;
    position: sticky;
}
.sticky-container{
    width: 20rem;
    height: 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 1rem;
    margin-top: 1rem;
}
.stickyside a{
    text-decoration: none;
    font-size: 0.70rem;
    color: rgb(175, 170, 170);
    font-weight: 500;
    margin: 0.25rem .50rem;
}
.stickyside .badge button{
    background-color: black;
    color: white;
    border: 1px solid white;
    margin: 1.5rem 1.50rem;
}

.card{
    background-color: #222222;
    width: 150px;
    border-radius: 0.3rem;
    padding: 0.5rem;
    margin: 1rem 1rem;

}
.card img{
    width: 100%;
    border-radius: 0.3rem;
}
.card-container{
    display: flex;
}
.card-title{
    font-weight: 600;
}
.card-detail{
    opacity: 0.5;
    font-weight: 300;
    font-size: 0.9rem;
}
.cards{
    display: flex;
    height: 20rem;
    top: 30px;
    flex-wrap: wrap;
}
.music_player{
    display: none;
}
.artist-container{
    margin: 1rem 1rem;
}
.artist-container img{
border-radius: 50%;
}
.section{
    display: flex;
    width: 100%;
}
h2:hover{
    text-decoration: underline;
}